.loan-container {
  background-color: lightgrey;
}

.loan-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));

}

.loan-card h4{
  color: green;

}

.loan-card {
  background-color: lightgreen;
  border-radius: 5%;
}
